@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,700&display=swap');

body{
	margin: 0;
	font-family: 'Crimson Text', serif;
	font-size: 28px;
	line-height: 30px;
}

header{
	background-color: #ffeb3b42;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

header h1 {
	color: red;
	font-size: 70px;
}

header img{
	border-radius: 600px;
	width: 300px;
	border: 10px solid #ff016a;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 40px;
	color: red;
	margin: 50px 0px 30px;
}

a{
	color: red;
}

a:hover{
	color: purple;
}

footer{
	background-color: #ffeb3b42;
	text-align: center;
	font-size: 25px;
	color: red;
	padding: 35px;
}

footer p{
	margin: 0;
}

.caption{
	font-size: 20px;
	color: lightslategray;
	line-height: 0;
	margin: 5px 0px 0px;
}
